# Configurações do Supabase para Expo
# Nota: No Expo, variáveis acessíveis no app front-end devem começar com EXPO_PUBLIC_

EXPO_PUBLIC_SUPABASE_URL=https://sua-url-do-projeto.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sua-chave-anon-ou-publishable-aqui
